name: "CI"
on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-ci
  cancel-in-progress: true

jobs:
  soundness:
    name: Soundness Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Bootstrap Mint
        uses: irgaly/setup-mint@v1

      - name: Run soundness
        run: |
          scripts/soundness.sh
          exit $(git status --porcelain | wc -l)

  unit-test:
    name: Unit Test (Swift ${{ matrix.swift.version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        swift:
          - version: "6.1"
            image: swift:6.1-rhel-ubi9
          - version: "6.2"
            image: swift:6.2-rhel-ubi9

    container:
      image: ${{ matrix.swift.image }}
      options: --dns 1.1.1.1 --dns 8.8.8.8

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Resolve Swift dependencies
        run: swift package resolve

      - name: Build package and tests
        run: swift build --build-tests -Xswiftc -warnings-as-errors --enable-code-coverage

      - name: Run Unit Tests
        run: swift test --enable-code-coverage

      - name: Merge code coverage
        run: |
          llvm-cov export -format "lcov" \
            .build/debug/swift-otelPackageTests.xctest \
            -ignore-filename-regex="\/Tests\/" \
            -ignore-filename-regex="\/Generated\/" \
            -ignore-filename-regex="\/.build\/" \
            -instr-profile=./.build/debug/codecov/default.profdata \
          > info.lcov

      - name: Upload code coverage report to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          files: ./info.lcov
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  check-docs:
    name: Documentation Check
    runs-on: ubuntu-latest
    container:
      image: swift:6.1-noble
      options: --dns 1.1.1.1 --dns 8.8.8.8
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Run documentation check
        run: |
          which curl yq || (apt -q update && apt -yq install curl yq)
          scripts/check-docs.sh

  check-foundation-imports:
    name: Foundation Imports Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Run Foundation imports check
        run: scripts/check-foundation-imports.sh

  construct-examples-matrix:
    name: Example Package (Construct Matrix)
    runs-on: ubuntu-latest
    outputs:
      examples: ${{ steps.find-examples.outputs.examples }}
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Find examples
        id: find-examples
        run: |
          find Examples/ -maxdepth 2 -name Package.swift -type f -print0 \
          | xargs -0 dirname \
          | jq -Rrs 'split("\n") | map(select(length > 0)) | @json | "examples=\(.)"' \
          | tee -a $GITHUB_OUTPUT # format: examples=["Examples/a", "Examples/b"]

  test-examples:
    name: Example Package (Swift ${{ matrix.swift.version }}, ${{ matrix.example }})
    runs-on: ubuntu-latest
    needs: construct-examples-matrix
    strategy:
      matrix:
        example: ${{ fromJSON(needs.construct-examples-matrix.outputs.examples) }}
        swift:
          - version: "6.1"
            image: swift:6.1-rhel-ubi9
          - version: "6.2"
            image: swift:6.2-rhel-ubi9
      fail-fast: false
    container:
      image: ${{ matrix.swift.image }}
      options: --dns 1.1.1.1 --dns 8.8.8.8
    defaults:
      run:
        working-directory: ${{ matrix.example }}
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Override example package dependency on root package
        run: swift package edit swift-otel --path ${{ github.workspace }}
      - name: Resolve example package dependencies
        run: swift package resolve
      - name: Build example package
        run: swift build
      - name: Check if example package has tests
        id: check-for-tests
        run: |
          if test -d Tests/; then
            echo "example_has_tests=true" | tee -a $GITHUB_OUTPUT
          fi
      - name: Run example package tests
        run: swift test
        if: steps.check-for-tests.outputs.example_has_tests == 'true'
      - name: Check example package dependencies
        # Right now trait-based dependency resolution doesn't work on Linux.
        if: matrix.swift == '6.2-snapshot' && runner.os != 'Linux'
        run: ${{ github.workspace }}/scripts/check-example-dependencies.sh

  collect-examples:
    name: Example Package (All)
    runs-on: ubuntu-latest
    needs: test-examples
    if: always()
    steps:
      - name: Check all example jobs succeeded
        run: |
          if [[ "${{ needs.test-examples.result }}" != "success" ]]; then
            echo "One or more example matrix jobs failed; failing job."
            exit 1
          fi
          echo "All example matrix jobs succeeded."
